input-container {
    position: fixed;
    width: calc(100vw - 300px);
    height: 60px;
    bottom: 0;
    background-color: #F1F1F1;
}

.chat-container {
    overflow: scroll;
    height: calc(100vh - 126px);
    padding: 20px;
}

.chat-content {
    position: relative;
    display: block;
    float: right;
    padding: 8px 15px;
    margin: 0 20px 10px 0;
    clear: both;
    color: #fff;
    background-color: #62a8ea;
    border-radius: 4px;
    max-width: calc(100vw - 600px);
}

.chat-content:before {
    position: absolute;
    top: 10px;
    right: -10px;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    border-left-color: #62a8ea;
}

.chat-container p {
    margin: 0;
}

.chat-content.left {
    float: left;
    margin: 0 0 10px 20px;
    background-color: #009688;
}

.chat-content.left:before {
    position: absolute;
    top: 10px;
    left: -10px;
    width: 0;
    height: 0;
    content: '';
    border: 5px solid transparent;
    border-right-color: #009688;
}