body {
    margin:0;
    font-family: Roboto, 'sans-serif';
}

toolbar {
    height: 66px;
    width: 100vw;
    color: white;
    background-color: rgb(63, 81, 181);
    position: fixed;
}

toolbar .title {
    margin: 22px 20px;
    display: inline-block;
    font-size: large;
    width: 260px;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 1));
}

toolbar menu-bar {
    margin: 22px 20px;
    display: inline-block;
    width: calc(100vw - 350px);
}


app {
    height: calc(100vh - 66px);
    background-color: #cccccc;
    width: 100vw;
    position: fixed;
    top: 66px;
}