.chat-row.active {
    background-color: #EEEEEE;
}

.chat-row .main-content {
    width: calc(100% - 89px);
}

.chat-row .message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}