side-bar {
    display: block;
    position: fixed;
    overflow: scroll;
    height: calc(100vh - 66px);
    width: 300px;
    background-color: #FFFFFF;
}

.main-section {
    display: block;
    height: 100%;
    position: fixed;
    width: calc(100vw - 300px);
    left: 300px;
}